---

---

<div
  id="remark42"
  class="mt-12 pt-8 border-t border-slate-200 dark:border-[#224249]"
>
</div>

<script is:inline>
  var remark_config = {
    host: "https://re.dimonb.com",
    site_id: "remark",
    components: ["embed"],
  };
</script>

<script is:inline>
  !(function (e, n) {
    for (var o = 0; o < e.length; o++) {
      var r = n.createElement("script"),
        c = ".js",
        d = n.head || n.body;
      ("noModule" in r
        ? ((r.type = "module"), (c = ".mjs"))
        : ((r.async = !0), (r.defer = !0)),
        (r.src = remark_config.host + "/web/" + e[o] + c),
        d.appendChild(r));
    }
  })(remark_config.components || ["embed"], document);
</script>
