---
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Tech blog deep dives into modern software architecture, ethical hacking, and AI.",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Fonts & Icons -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Aldrich&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
			rel="stylesheet"
		/>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-B0569BXV3Z"
		></script></head
	>
	<!-- Google Analytics -->

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-B0569BXV3Z");
	</script>

	<!-- Plausible Analytics -->
	<script
		defer
		data-domain="dimonb.com"
		data-api="https://pl.dimonb.com/api/event"
		src="https://pl.dimonb.com/js/script.js"></script>
</html>
<body
	class="bg-background-light dark:bg-background-dark text-slate-800 dark:text-slate-200 transition-colors duration-300 font-display min-h-screen flex flex-col"
>
	<slot />
</body>
